In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import platform

if platform.node() == 'Nick_Laptop':
    drive = 'C'
elif platform.node() == 'MSI':
    drive = 'D'
else:
    drive = 'uhhhhhh'
    print('Uhhhhhhhhhhhhh')
os.chdir(f'{drive}:/PhD/DissolutionProgramming/LND---Land-Paper')

PROCESSED = 'Data/Processed'
RAW = 'Data/Raw'


calendar_df = pd.read_csv(f'{RAW}/calendar_of_particulars/individual_calendar_of_particulars.csv', encoding='utf-8')

In [2]:
new_cal_df = pd.DataFrame(columns=['grant_num', 'grant_total', 'surname', 'forename', 'day', 'month', 'year',
       'in_devon'])

for i, row in calendar_df.iterrows():
    if pd.isna(row['surname']):
        continue
    grant_total = row['grant_total']
    surname = row['surname']
    forename = row['forename']

    if not pd.isna(row['surname_2']):
        grant_total = grant_total / 2
        surname_2 = row['surname_2']
        forename_2 = row['forename_2']
        new_row = pd.DataFrame({'grant_num': row['grant_num'], 'grant_total': grant_total,
                                        'surname': surname_2, 'forename': forename_2,
                                        'day': row['day'], 'month': row['month'], 'year': row['year'],
                                        'in_devon': row['in_devon']}, index=[0])
        new_cal_df = pd.concat([new_cal_df, new_row], ignore_index=True)
        print(f'Adding {surname_2} {forename_2} {grant_total} {row["day"]} {row["month"]} {row["year"]}')
    new_row = pd.DataFrame({'grant_num': row['grant_num'], 'grant_total': grant_total,
                                    'surname': surname, 'forename': forename,
                                    'day': row['day'], 'month': row['month'], 'year': row['year'],
                                    'in_devon': row['in_devon']}, index=[0])
    new_cal_df = pd.concat([new_cal_df, new_row], ignore_index=True)

Adding Stucley Hugh 125.41666665 14.0 6.0 1544
Adding Haydon George 340.5 6.0 8.0 1544
Adding Brown Leonard 391.0 17.0 8.0 1544
Adding Champernon Arthur 127.5 19.0 8.0 1544
Adding Dyon Lincoln 4.0 20.0 8.0 1544
Adding Foster Anthony nan 26.0 9.0 1544
Adding Tregonwell John 421.5 24.0 10.0 1544
Adding Halley William 499.5 16.0 2.0 1545
Adding Selwood John 618.5 5.0 3.0 1545
Adding Drake Margaret 161.9047619 18.0 3.0 1545
Adding Streitbury Edward 156.5 23.0 3.0 1545
Adding Gibbes Thomas 947.0555555 2.0 4.0 1545
Adding Billingforde Richard 788.0 7.0 6.0 1545
Adding Multon John 60.5 5.0 7.0 1545
Adding Strangman John 216.0 10.0 7.0 1545
Adding Gaverock Joan 296.0 1.0 9.0 1545
Adding Goodwin Thomas 175.0 9.0 9.0 1545
Adding Slanning Elizabeth 273.0 21.0 9.0 1545
Adding Adams Nicholas nan 28.0 9.0 1545
Adding Petre Ann 88.5 25.0 1.0 1546
Adding Westcott Henry 986.5 6.0 3.0 1546
Adding Watson John 17.0 19.0 3.0 1546
Adding Parker Richard 340.5 29.0 3.0 1546
Adding Crymes Elizabeth 725.5 21.0 4.0 1546
Adding Bluett Roger 598.0 nan nan 1546
Adding Wotton John 162.0 nan nan 1546
Adding Butler Anthony 419.5 nan nan 1546
Adding Isham Gregory 128.0 nan nan 1546
Adding Broxholme John 650.5 nan nan 1546
Adding Willoughby William 290.0 nan nan 1548
Adding Leonard William 8.5 nan nan 1549
Adding Maynard John nan nan nan 1549
Adding Mayne Richard 73.5 nan nan 1550
Adding Wennington Laurence 2020.5 nan nan 1550
Adding Herdson Henry 167.0 nan nan 1552
Adding Petre John 340.4 nan nan 1553
Adding Waldron John 198.0 nan nan 1553
Adding Cotton George 10.0 nan nan 1553
Adding Hassard Nicholas 518.0 nan nan 1553
Adding Gratwick Roger 580.5 nan nan 1553
Adding Prideaux Roger 703.0 nan nan 1553
Adding Fairweather Valentine 868.0 nan nan 1553
Adding Holmes Thomas 1093.95 nan nan 1553
Adding Gate Lucy nan nan nan 1555
Adding Osbourne Peter nan nan nan 1557
Adding Dyer John 23.214285715 nan nan 1557
Adding Calmady Vincent 68.92857145 nan nan 1557
Adding Northcote John 435.2631579 nan nan 1557
Adding Drake Bernard 178.75 nan nan 1557
Adding Butler George 141.7857143 nan nan 1558
Adding Pynde Nicholas 10.0 nan nan 1558
Adding Hudson John nan nan nan 1558

C:\Users\nicho\AppData\Local\Temp\ipykernel_5140\3622239066.py:25: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  new_cal_df = pd.concat([new_cal_df, new_row], ignore_index=True)

In [3]:
print(new_cal_df)
new_cal_df.to_csv(f'{PROCESSED}/calendar_recipients.csv', index=False, encoding='utf-8')

    grant_num   grant_total      surname  forename   day  month  year in_devon
0           2           NaN  Plantagenet    Arthur   4.0    9.0  1537        0
1           3   2740.000000  Wriothesley    Thomas   6.0   11.0  1537        0
2           4   2920.000000       Howard  William    9.0    3.0  1538        0
3           5           NaN       Wallop      John  29.0    5.0  1538        0
4           7  14320.000000      Russell      John   4.0    7.0  1539        0
..        ...           ...          ...       ...   ...    ...   ...      ...
171       135    141.785714       Becher     Henry   NaN    NaN  1558        0
172       136     10.000000        Pynde  Nicholas   NaN    NaN  1558        0
173       136     10.000000         Reve    Thomas   NaN    NaN  1558        0
174       137           NaN       Hudson      John   NaN    NaN  1558        0
175       137           NaN       Curwen   Richard   NaN    NaN  1558        0

[176 rows x 8 columns]